@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
 
h1 { 
	font-weight: 700;
}

header {
	height: 500px;
	width: 100%;
	padding-top: 15em;
	margin-bottom: 2em;
	text-align: center;
	color: white;
	padding-bottom: 0px;
	background-image: url("../images/headphone-sm2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
}
.row #body{
	word-wrap: break-word;
	padding-right: 1em;
	padding-left: 1em;
}
#cross{
	text-align:right;
}
#vote_result{
	margin-top: 1em;
	font-size: 12px;
}
#icon{
	text-align: right;
}
#vote{
	padding: 1em;
}
#review{
	background-color: #E9EAEE;
	margin: .5em;
	padding: 1.5em;
}

#rating{
	margin: 1em;
}
#reviews{
	padding: 1em;
	width: 90%;
}

#title{
	font-weight: 700;
	font-size: 30px;
	word-wrap: break-word;
	padding-right: 1em;
	padding-left: 0.5em;
}
@media (min-width: 992px) {
  header {
	height: 700px;
	background-size: cover;
    background-image: url("../images/headphone-md.jpg");
	padding-top: 30em;
	}
	
  header h1 {
    font-size: 4em; } 
}